.button-container {
    bottom: 35px;
    position: relative;   
}

.play-button img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.play-button {
    position: absolute;
    margin-left: 25px ;
    border-radius: 50%; 
    background-color: transparent; 
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.play-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.play-button:active {
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}





.circular-progress {
    left: 1455px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: conic-gradient(
    #48b02c calc(var(--percentage) * 1%),
    #ddd 0
);
}

.circular-progress-wrapper {
    transition: opacity 1s ease-out;
    opacity: 1;
}

.circular-progress-wrapper.fade-out {
    opacity: 0;
}



.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}




.random-sentence-wrapper {
    transition: opacity 1s ease-in-out;
    opacity: 1; 
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px outset #fff;
    padding: 20px;
    margin: 20px;
    background-color: #000000;
    
}

.random-sentence-fade-out {
    animation: fadeOut 1s forwards;
}





.result-container {
    font-family: 'Comic Sans MS', cursive;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px outset #fff;
    padding: 20px;
    margin: 20px;
    background-color: #000000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: #fff;
}

.result-container.show{
    animation: fadeIn 1s forwards;
}




@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}