.random_sentence {
    font-size: 24px;
    line-height: 1.5;
    margin: 20px 0;
    font-family: 'Comic Sans MS', cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #ffffff60;
}

.random_sentence span {
    transition: color 0.2s, text-decoration 0.2s;
}

.random_sentence span.current {
    text-decoration: underline;
    color: #2196f3;
}

.random_sentence span.correct {
    color: green;
}

.random_sentence span.incorrect {
    text-decoration: underline red;
    color: red;
}

